@model IEnumerable<FolderDetails>
@{
    ViewData["Title"] = "FolderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Folder Name</th>
                    <th>Folder Path</th>
                    <th>File Count</th>
                    <th>Download Link</th>
                    <th>Download Zip</th>
                </tr>
            </thead>
            <tbody>
               
                  
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.folderName</td>
                    <td>@item.folderPath</td>

                    <td>
                        @*@foreach (var file in item.fileDetails)
            {
               <span>@file.fileDownloadLink</span>
            }*@
                        @item.count
                    </td>
                    <td><a href="@item.downloadLink" class="btn btn-primary" download>Download</a></td>
                    <td><a asp-area="DropboxInfo" asp-controller="Dropbox" asp-action="DownloadLargeFile" class="btn btn-primary" download>DownloadZip</a></td>
                </tr>
                    }
                
            </tbody>
        </table>
    </div>
</div>

